{% extends 'base.html' %}
{% block content %}

<h1>Takes</h1>

<div class="row">
    <div class="col s5">
        <div class="card ">
            <div class="card-content">
                    <span class="card-title">{{ take.event.title }}</span>
                    <p>{{ take.user.username }}'s Take: {{ take.opinion }}</p>
            </div>
            {% if user.is_authenticated and take.user == user %}
            <div class="card-action">
                <a href="{% url 'takes_update' take.id %}">Edit</a>
                <a href="{% url 'takes_delete' take.id %}">Delete</a>
            </div>
            {% endif %}
        </div>
        {% if user.is_authenticated%}
        <form type="submit" action="/takes/{{ take.id }}/comments/" method = "POST"> 
            {% csrf_token %}
            <input  id="comment" type="text"  placeholder="Leave a Comment" autofocus="autofocus" > 
            <button class="btn-large waves-effect waves-light blue lighten-3" id="submit" type="submit" >Post</button> 
        </form> 
    </div>
    {% endif %}
</div>
{% endblock %}