<!-- templates/events/index.html -->
{% extends 'base.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html>
  <head>
    <title>TILI: Events</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.css">
  </head>
  <body>
      <h4>Events</h4>
      <a href="/events/create">Create A New Event</a>
      <hr/>
    {% for event in events %}
    <a href="/events/{{ event.id }}">
        <p> {{ event.image }}</p>
        <p>{{ event.title }}</p>
        <p>{{ event.description }}</p>
    </a>
    <hr />
    {% endfor %}
  </body>
</html>
{% endblock %}