<!-- templates/events/index.html -->
{% extends 'base.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html>
  <head>
    <title>TILI: Events</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.css">
  </head>
  <body>
    <h4>Events</h4>
    <a class="waves-effect waves-light btn blue lighten-2" href="/events/create">Create a New Event</a>
    {% for event in events %}
    <div class="container">
      <div class="card">
          <div class="card blue lighten-2 lighten col s4 z-depth-5">
                  <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator responsive-img" height="auto" src="{{ event.image }}">
                  </div>
                  <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">{{ event.title }}<i class="material-icons right"></i></span>
                    <p><a  class="white-text " href="/events/{{ event.id }}">Take Me To This Event</a></p>
                  </div>
                  <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Event Description<i class="material-icons right">close</i></span>
                    <p>{{ event.description }}</p>
                    <a href="/user/{{ event.user.username }}">
                        <p>@{{ event.user.username }}</p>
                    </a>
              </div>
            </div>
          </div>
        </div>
    </div>
    {% endfor %}
  </body>
</html>
{% endblock %}