{% extends 'base.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html>
  <head>
    <title>TILI: {{ event.title }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.css">
  </head>
  <body>
    <a class="right waves-effect waves-light btn blue lighten-2" href="/events/">All Events</a>
    <h4>{{ event.title }}</h4>
    <img class="responsive-img" src="{{ event.image }}">
    <p> Description: {{ event.description }}</p>
  
  

    <a href="{% url 'takes_index' event.id %}">View the takes for this</a>
    <a href="{% url 'takes_create' event.id %}"> Create a Take</a>
    
    {% if user.is_authenticated and event.user == user %}
      <a href="{% url 'events_update' event.id %}"> Edit Event</a>
      <a href="{% url 'events_delete' event.id %}"> Delete Event</a>
    {% endif %}
  </body>
</html>
{% endblock %}