{% extends 'base.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html>
  <head>
    <title>TILI: {{ event.title }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.css">
  </head>
  <body>
    <h3> My Events</h3>

    <h4>{{ event.title }}</h4>
    <img src="{{ event.image }}">
    <p> Description: {{ event.description }}</p>
  
    <h3>Takes</h3>
    {% for take in event.takes.all %}
      <div>{{ take.opinion }}</div>
    {% empty %}
      <p>This Event Has No Takes</p>
    {% endfor %}

  
    <a href="{% url 'events_update' event.id %}"> Edit Event</a>
    <a href="{% url 'events_delete' event.id %}"> Delete Event</a>
  </body>
</html>
{% endblock %}