{% extends 'base.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html>
  <head>
    <title>TILI: {{ event.title }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.css">
  </head>
  <body>
    <a class="right waves-effect waves-light btn blue lighten-2" href="/events/">All Events</a>
    <h4>{{ event.title }}</h4>
    <img class="responsive-img" src="{{ event.image }}">
    <p>{{ event.description }}</p>
  
  

    <a 
    class="btn-large waves-effect waves-light blue" 
    href="{% url 'takes_create' event.id %}">Add Take</a>
    <a class="btn-large waves-effect waves-light amber darken-3"
    href="{% url 'takes_index' event.id %}">View Takes</a>
    <a class="btn-large waves-effect waves-light cyan accent-4"
    href="">View Comments</a>
    
    {% if user.is_authenticated and event.user == user %}
      <a 
      class="btn-large waves-effect waves-light amber lighten-2"
      href="{% url 'events_update' event.id %}"> Edit Event</a>
      <a
      class="btn-large waves-effect waves-light red darken-3" 
      href="{% url 'events_delete' event.id %}"> Delete Event</a>
    {% endif %}
  </body>
</html>
{% endblock %}