h1 {
    color: lightskyblue;
}

body{
    font-family: 'Anton', sans-serif;
    background-color: whitesmoke;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
}
img{
    width: auto;
    max-height: 25em;
}

main {
    flex: 1 0 auto;
}

.card{
    max-width: 15em;
    flex-wrap: wrap;

}
