h1 {
    color: lightskyblue;
}

body{
    background-color: whitesmoke;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
img{
    width: auto;
    max-height: 25em;
}

main {
    flex: 1 0 auto;
}

.card{
    max-width: 15em;
    
}

