{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>TILI</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.css">
  </head>
  <body>
    <nav>
        <div class="nav-wrapper blue lighten-3">
            <a href="/events/" class="brand-logo left ">Take It Or Leave It</a>
            <ul id="nav-mobile"class="right hide-on-med-and-down">
                {% if user.is_authenticated%}
                <li><a href="/events/create">Add New Event</a></li>
                <li><a href="/user/{{ user.username }}">{{ user.username }}'s Collection</a></li>
                <li><a href="/logout">Log Out</a></li>
                {% else %}
                <li><a href="/login">Log In</a></li>
                <li><a href="/signup">Sign Up</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="page-footer lime lighten-4">
        <div class="container col s6 right-align black-text">
            All Rights Reserved, TILI 2022
        </div>
    </footer>
</body>
</html>