{% extends 'base.html' %}
{% load static %}

{% block content %}

  <h1>{{ username }}'s collection:</h1>
  <h3>My Events</h3>
  <div class="collection">
    {% for event in events %}
    <a class="collection-item blue-text" href="/events/{{ event.id }}">
      <h5>{{ event.title }}</h5>
    </a>
    {% endfor %}
  </div>
  <hr />
  <h3>My Takes</h3>
  <div class="collection">
    {% for take in takes %}
    <a class="collection-item amber-text" href="/takes/{{ take.id }}">
      <h5>{{ take.opinion }}</h5>
    </a>
    {% endfor %}
  </div>



{% endblock %}